Django==4.1
whitenoise==5.3.0
django-environ==0.8.1
python-dotenv==0.20.0

databricks-cli 
azure-storage-blob 
azure-datalake-store 
azure-mgmt-resource 
azure-mgmt-datalake-store 
azure-identity
pandas
# pyarrow

dask[dataframe]
fmldk
# celery==4.4.0
ipython
django-cors-headers